.login, .register {
    height: 200vh;
    h2 {
        margin: 20px;
    }
    label {
        font-size: 20px;
        display: block;
        margin-top: 50px;
    }
    .iptForm {
        color: black;
        margin: 10px auto;
        display: block;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .submit {
        font-size: 24px;
        margin: 50px auto;
        padding: 5px 20px;
        border-radius: 15px;
        border: white 2px solid;
        background-color: transparent;
        transition: background-color 0.7s, color 1s linear;

        &:hover {
            background-color: white;
            border-color: white;
            color: rgb(39, 39, 58);
            cursor: pointer;
        }
    }
}
.content {
    margin-top: 0;
}


@media screen and (min-width: 0) {
    .login, .register {
        width: 90%;
        .iptForm {
            width: 60%;
        }
    }
}
@media screen and (min-width: 1300px) {
    .login, .register {
        width: 47%;
        .iptForm {
        width: 80%;
        }
    }
}