{% extends '/quizz/quizz.html.twig' %}


{% block body %}
<button class="normal"><a href={{ path ('quizzNormal')}}>Normal</a></button>
<button class="classe"><a href={{ path ('quizzClasse')}}>Classé</a></button> 
{% endblock %}
